<h1>Item</h1>
{{#if id}}
<span id="name">{{name}}</span>:<span id="price">{{price}}</span>
<div id="description">{{description}}</div>
<div id="item-id">{{id}}</div>
<form method="post" action="/shopping-cart"><input type="hidden" name="itemId" value="{{id}}" />
<input type="submit" value="Add to cart" /></form>
{{else}}
not found!
{{/if}}
